# Data #
###################
*.pickle
*.parquet

# secrets #
###################
.env

# dask #
###################
dask-worker-space/

# IDEA config files #
###################
*/.idea/workspace.xml
*/.idea/tasks.xml

# vscode #
.devcontainer/
.vscode/

# cache #
############
__pycache__/

# Packages #
############
*.zip


